# Dependencies
node_modules/

# Build outputs
dist/
build/
.out/

# Testing / Playwright
test-results/
playwright-report/
blob-report/
coverage/
*.log

# Environment variables
.env
.env.*

# Allow environment configs
!.env.development
!.env.production

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.local
*.tmp
*.swp
